{% extends "task/base.html" %}
{% block content %}
<div class="container">
  <div class="col-lg-4 shadow p-0 mx-auto m-5">
    <div class="alert alert-info">
      <h2 class="text-center">LogIn Here</h2>
    </div>
    <div class="p-4">
      <form action="/login/" method="post" novalidate>
      {% csrf_token %}
      {% for fm in form %}
      <div class="form-group col-lg-6 mb-3">
      {{fm.label_tag}} {{fm}}<small class="'text-danger"> {{fm.errors|striptags}}</small>
      
      </div>
      {% endfor %}
      <div class="col-12 mt-3">
      <button type="submit" class="btn btn-info mb-3">LogIn</button>
      </div>
      </form>
  </div>
  </div> 
</div>
{% endblock %}